{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <head>
        <title>Profile Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/delete_profile_style.css' %}">
    </head>
    <body>
    <div class="profile-card">
        <div class="profile-details">
            <h1>Are you sure you want to delete your profile?</h1>
            <div class="profile-actions">
                <form method="post" action="{% url 'delete_profile_page' request.user.id %}">
                    {% csrf_token %}
                        <button type="submit" class="edit-btn">Yes</button>
                        <a href="{% url 'profile_page' request.user.id %}" class="edit-btn">No</a>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}