{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Profile Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/password_change_completed_page_style.css' %}">
    </head>

    <div class="password-changed-container">
    <p>Password successfully changed!</p>
    <img src="{% static 'images/password-successfully-changed.png' %}" alt="password-changed-img">
    </div>
    <div class="go-to-profile-btn">
    <a href="{% url 'profile_page' request.user.id %}">Profile</a>
    </div>
{% endblock %}
