{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Project</title>
        <link rel="stylesheet" href="{% static 'css/accounts/change_password_page_style.css' %}">
    </head>

    <form action="{% url 'password_change' %}" method="POST" enctype="multipart/form-data">
            <p class="page-text">Change Password</p>
            {% csrf_token %}
            <div class="form-errors-box">
                {{ form.old_password.errors }}
            </div>
            <div class="form_row">
                <label>Current Password:</label>
                {{ form.old_password }}
            </div>
        <br>
        <div class="form-errors-box">
                {{ form.new_password1.errors }}
            </div>
            <div class="form_row">
                <label>New Password:</label>
                {{ form.new_password1 }}
            </div>
        <div class="form-errors-box">
                {{ form.new_password2.errors }}
            </div>
        <br>
            <div class="form_row">
                <label>Confirm Password:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" class="login-btn" value="Confirm">
        </form>
{% endblock %}
