<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Welcome to ParkIt!</title>
</head>
<body>

<div style="text-align:center;">
    <img src="https://img.freepik.com/free-vector/cartoon-style-vehicle-illustration_52683-81723.jpg?w=996&t=st=1691517479~exp=1691518079~hmac=3effba6665f0d6af8364f8a49fd2f733fc521b971b4c5d81a4fb1b9afa51c4f4" width="400" alt="Welcome Message">
</div>

<p style="text-align:center;font-size:24px;">
    <b>Welcome to ParkIt {{ profile.username }}!</b><br/>
    Thanks for opening your account with us!
    <br>Finding a parking will no longer be an issue!
    <br>
    Enjoy!
    <br>
    <br>
    Kind Regards,
    <br>
    ParkIt Team
</p>

</body>
</html>