.parking-spot-container {
    margin: 20px auto;
    width: 700px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.parking-spot-container h6 {
    text-align: center;
    margin: unset;
    font-size: 25px;
}

.parking-spot-container img {
    max-width: 96%;
    padding: 14px 14px 0 14px;
    height: 465px;
    width: 765px;
    object-fit: cover;
}

body > main > div > div > div {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

body > main > div > div > div .detail {
    padding: unset;
    font-size: 15px;
    height: fit-content;
    margin: unset;
}

.parking-spot-container a {
    background: #46de4b;
    width: 160px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    margin-bottom: 10px;
}

.parking-spot-container a:hover{
    background: black;
}

.reviews-container .review-box{
    width: 650px;
    display: block;
    border: groove;
}

.reviews-container .review-box .rating-section {
    display: flex;
    width: 120px;
    background: lightgrey;
    color: black;
    height: fit-content;
    margin-left: 524px;
    margin-top: 5px;
}

.reviews-container .review-box .rating-section p {
    margin: unset;
    padding: 0 0 0 5px;
}

hr{
    width: 650px;
    border-bottom-style: solid;
}

.reviews-container .review-box .comment-section {
    margin: 20px auto;
    display: flex;
    margin-right: 10px;
}

.reviews-container .review-box .comment-section p{
    font-size: 15px;
    margin: unset;
    padding: unset;
}

.reviews-container .review-box .comment-section span{
    font-size: 15px;
}

.reviews-container .review-box .date-section{
    width: inherit;
    font-size: 13px;
}

.reviews-container .review-box .date-section p{
    padding: unset;
    display: flex;
    justify-content: flex-end;
}

.username{
    display: flex;
    min-width: fit-content;
    height: fit-content;
    font-weight: bold;
    padding-right: 10px;
}

.pagination-container {
    margin-top: 1em;
    padding-top: 2em;
    border-top: 1px solid #d7dadb;
    text-align: center;
    display: inline-flex;
    width: 100%;
}

.pagination {
    margin: 0 auto;
}

.pagination-item {
    background-color: #1fcc30;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-size: 32px;
    height: 100px;
    line-height: 3em;
    list-style-type: none;
    width: 100px;
    position: relative;
}

.pagination-link {
    padding: 1.1em 1.6em;
    float: left;
    text-decoration: none;
    color: black;
}

.pagination-item--wide {
    list-style-type: none;
    float: left;
    position: relative;
    top: 2.3em;
}

.pagination-item--wide.first {
    margin: 0 1em 0 0;
}

.pagination-item--wide.last {
    margin: 0 0 0 1em;
}

.pagination-link--wide {
    text-decoration: none;
    color: black;
    padding: 1.1em 1.6em;
}

.pagination-link--wide:hover {
    color: white;
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
    font-family: 'entypo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

/ / Better Font Rendering -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination-link--wide.first:before {
    content: "\E765";
    margin-right: 0.5em;
}

.pagination-link--wide.last:after {
    content: "\E766";
    margin-left: 0.5em;
}

.pagination-number {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}