.password-changed-container {
    margin: 20px auto;
    width: 500px;
    display: flex;
}

.password-changed-container img {
    width: 250px;
    margin: 20px auto;
    border-radius: 50%;
    margin-top: 70px;
}

.password-changed-container p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: unset;
    font-family: inherit;
    font-weight: bold;
}

.go-to-profile-btn {
    margin: 20px auto;
    width: 100px;
    background: #1fcc30;
    text-align: center;
    color: white;
}

.go-to-profile-btn:hover{
    background: black;
}

.go-to-profile-btn a{
    text-decoration: none;
}